{
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }],
    "transform-object-rest-spread",
    ["transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }]
  ]
}