
.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.messages {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.chat-message {
    overflow-wrap: break-word;
    width: 60%;
    margin: 6px 0;
    background-color: #eaeaea;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    padding: 1em;
}

.own-chat-message {
    margin-left: 40%;
    background-color: #c8ffed;
    border: 1px solid #a4ffe1;
}

.bottomBar {
    display: flex;
    height: 40px;
}

.messageInput {
    flex: 1;
}

.user {
    font-weight: 900;
}